@using Microsoft.AspNetCore.Identity
@using Testing_Login.Areas.Identity.Data

@inject SignInManager<Testing_LoginUser> SignInManager
@inject UserManager<Testing_LoginUser> UserManager


@model IEnumerable<Testing_Login.Models.Sold>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if(Model.Count()>0){
<table class="table">
    <h1>Cars which was sold by you</h1>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.car_Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.car_model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string email = item.email;
            @if (email == @UserManager.GetUserName(User))
            {
                <tr>
                    <td>
                     @Html.DisplayFor(modelItem => item.car_Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.car_model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
           
        </tr>
    }
}
    </tbody>
</table>
}
else{
    <h1>Currently no cars of you are soldout</h1>
}